.App {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f5f3;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ----------------------------NAVBAR-------------------------- */

div.nav-container {
  width: 100%;
  height: 4rem;
  background-color: #869f4a;
  position: fixed;
  top: 0;
  z-index: 5;
}

div.container.nav-items-cont {
  display: flex;
  align-items: center;
  padding-right: 0;
}

.home-logo {
  color: #f2c879;
  font-size: 2.5rem;
}

.home-logo:hover {
  color: #fee0a9;
}

.dropdown-toggle::after {
  border-top-color: #f2c879;
}

svg.cup:hover {
  cursor: pointer;
  filter: brightness(108%);
}

img.user-img {
  width: auto;
  height: 2rem;
}

img.user-img:hover {
  cursor: pointer;
  filter: brightness(108%);
}

svg.cart:hover {
  cursor: pointer;
  filter: brightness(108%);
}

/* ------------------------------------------HOMEPAGE------------------------------------- */

.homepage-all {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 4.5rem;
}

.side-nav-cont {
  width: 100%;
  max-height: 70vh;
  padding-right: 1rem;
}
.title-cont-sidenav {
  background-color: #c6947b;
  color: #f8f5f3;
  border-radius: 5px;
}
.items-cont-sidenav {
  background-color: #e3c0af;
  color: #f8f5f3;
  border-radius: 5px;
}

.tea-cont {
  margin-left: 5rem;
}

.teas-container {
  height: 85vh;
  overflow: scroll;
}

.col-lg-3.col-md-4.col-12 {
  padding: 0;
}

@media screen and (max-width: 800px) {
  .side-nav-cont {
    display: none;
  }

  .tea-cont {
    margin: auto;
  }
}

/* ---------------------------CARD----------------------- */

.tea-card {
  background-color: #fee0a9;
  margin: 0 10px 10px 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: solid #f2c879 1px;
}

.tea-card:hover {
  border: solid #171717 1px;
  cursor: pointer;
}

img.tea-img {
  height: 200px;
  object-fit: cover;
}

h4.tea-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: fit-content;
}

.row.tea-info {
  padding-top: 0.5rem;
}

button.tea-card-btn {
  background-color: #869f4a;
  border: solid #171717 1px;
  width: 100%;
}

/* ----------------------------DETAILS------------------- */

.tea-det-cont {
  padding-top: 4.5rem;
}
