.App {
  width: 100%;
  min-height: 100vh;
  background-color: #f8f5f3;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
/* ----------------------------NAVBAR-------------------------- */

div.nav-container {
  width: 100%;
  height: 4rem;
  background-color: #869f4a;
}

div.container.nav-items-cont {
  display: flex;
  align-items: center;
}

.home-logo {
  color: #f2c879;
  font-size: 2.5rem;
}

.home-logo:hover {
  color: #fee0a9;
}

.dropdown-toggle::after {
  border-top-color: #f2c879;
}

svg.cup:hover {
  cursor: pointer;
  filter: brightness(108%);
}

img.user-img {
  width: auto;
  height: 2rem;
}

img.user-img:hover {
  cursor: pointer;
  filter: brightness(108%);
}

svg.cart:hover {
  cursor: pointer;
  filter: brightness(108%);
}

/* ------------------------------------------HOMEPAGE------------------------------------- */

.homepage-all {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.home-cont.container {
  min-height: 90vh;
}

.side-nav-cont {
  width: 10%;
  max-height: 70vh;
  left: 1rem;
  top: 15vh;
  position: fixed;
}
.title-cont-sidenav {
  background-color: #c6947b;
  color: #f8f5f3;
  border-radius: 5px;
}
.items-cont-sidenav {
  background-color: #e3c0af;
  color: #f8f5f3;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .side-nav-cont {
    display: none;
  }
}
